body {
    background-image: url(https://i.pinimg.com/originals/b7/20/31/b720314bd5b235c1f87e7812e5b19a80.gif);
    background-size: 100px;
    background-position-x: left;
    background-position-y: bottom;
}